<% include include/head %>
<div class="container">
    <h1 class="mt-5"><%= result.country%></h1>
    <p class="lead"><%= result.capital%></p>
    <p class="lead"><%= result.area%></p>
    <p class="lead"><%= result.language%></p>
    <p class="lead"><%= result.currency%></p>
</div>
<% include include/foot %>