<% include include/head %>
<div class="row">
    <div class="">
        <h1>국가 상세</h1>
        <h4>국가명 : <%= result.country%></h4>
        <h4>수도명 : <%= result.capital%></h4>
        <h4>지역명 : <%= result.area%></h4>
        <h4>언어 : <%= result.language%></h4>
        <h4>화폐 : <%= result.currency%></h4>
        <p class="lead">
            <a href="/country" class="btn btn-lg btn-info">메인으로</a>
        </p>
    </div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th style="width: 10%;">id</th>
                <th>댓글</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0 ; i < comment.length ; i++){ %>
            <tr>
                <td><%= comment[i].id%></td>
                <td><%= comment[i].comment%></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <div class="col-md-12 order-md-1">
        <form class="needs-validation" novalidate="" action="/country/comment" method="POST">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>댓글</label>
                    <input type="text" class="form-control" name="country">
                    <input type="hidden" name="id" value="<%= result.id%>">
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">저장</button>
        </form>
    </div>
</div>
<% include include/foot %>