<% include include/head %>
  <body>
    <h1 style="text-align: center;">Country</h1>
    <div class="table-responsive">
      <div class="col-2" style="float:left; font-size: 30px;">
        <a href="/country/add" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"> ADD</span>
        </a>
      </div>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>id</th>
            <th>국가명</th>
            <th>수도</th>
            <th>지역</th>
            <th>언어</th>
            <th>화패</th>
            <th>수정</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>
          <% for(i = 0 ; i < result.count ; i++){ %>
          <tr>
            <td><a href='/country/<%=result.data[i].id %>'><%= result.data[i].id %></a></td>
            <td><%= result.data[i].country %></td>
            <td><%= result.data[i].capital %></td>
            <td><%= result.data[i].area %></td>
            <td><%= result.data[i].language %></td>
            <td><%= result.data[i].currency %></td>
            <th><a href='/country/edit/<%=result.data[i].id %>'>수정</a></th>
            <th onclick="deleteajax('<%=result.data[i].id %>')">삭제</a></th>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
<% include include/foot %>