<% include include/head %>
<div class="inner cover">
    <h1 class="cover-heading">성공</h1>
    <h4>국가명 : <%= data.country%></h4>
    <h4>수도명 : <%= data.capital%></h4>
    <h4>지역명 : <%= data.area%></h4>
    <h4>언어 : <%= data.language%></h4>
    <h4>화폐 : <%= data.currency%></h4>
    <p class="lead">
        <a href="/country" class="btn btn-lg btn-info">메인으로</a>
    </p>
</div>
<% include include/foot %>